body {
    display: flex;
    flex-direction:column;
    background-color: #15202B;
	color:beige;
	margin: auto 0;
	justify-content: center;
	align-items:center;
	margin-top:150px;
}
.header{
	background-color: #0a1e2f;
	padding:0 10px;
}
.header,.list-container{
	width:45%;
}
.list-items{
	background-color:black;
	border: 2px solid white;
    border-radius:7px;
    overflow:hidden;
}
.list-item{
	padding:10px;
	display:flex;
	wrap:nowrap;
	justify-content:space-between;
	border-bottom:1px dotted #1f1f2d;

}
.list-item:hover{
	color:#0fca0f;
	background-color:#120e23;
}
.list-item p{
	width:100%;
	font-size:16px;
	margin:0;
}
body > div {
	padding-top:10px;
}
div {
	font-size:15px;
}

.entry-field input {
	width:100%;
	border:0;
	font-size:15px;
	padding:5px;
	margin:5px 0;
	border-radius:7px;
}
.buttons{
	width:20%;
	margin:auto 0;
	display:flex;
	justify-content:space-around;
}
.buttons a {
	color:beige;
	text-decoration:none;
}
.fa.fa-trash:hover{
	color:#d61515;
}
.buttons a:hover{
	color:#cca713;
}
.list-container > p{
	background-color:green;
	display:flex;
	justify-content:center;
}

@media screen and (max-width:500px){
	.header,.list-container{
		width:85%;
	}
}
